<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>
<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
<div class= "row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Cost Center")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class="btn sn-dash-add" href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>"  title="<?php echo $this->translate('Add to dashboard');?>"></a>
                        &nbsp;|&nbsp;
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>


            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert', 
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>

                        <tr>
                            <th><?php echo $this->translate('Code');?></th>
                            <th><?php echo $this->translate('Name');?></th>
                            <th><?php echo $this->translate('Type');?></th>
                            <th><?php echo $this->translate('Description');?></th>
                            <th class="text-center"colspan="2" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php if( $this->costcenter ) :
                            foreach($this->costcenter as $id => $costcenter ): ?>

                                <tr>
                                    <td class="text-left"> <b> <?php echo $costcenter['codigo'] ?> </b> </td>
                                    <td> <?php echo $costcenter['nome'] ?> </td>
                                    <td> <?php echo $this->types[$costcenter['tipo']] ?> </td>
                                    <td> <?php echo $costcenter['descricao'] ?> </td>

                                    <td align="center">
                                        <a class="btn btn-edit btn-sm" href="<?php echo $this->url ?>/edit/id/<?php echo $costcenter['codigo'] ?>" role="button"><?php echo $this->translate('Edit')?></a>
                                        <a class="btn btn-danger btn-sm" href="<?php echo $this->url ?>/remove/id/<?php echo $costcenter['codigo'] ?>" role="button"><?php echo $this->translate('Delete')?></a>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        <?php endif?>

                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="6">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>

                        </tr>
                    </tfoot>
                </table>
            <?php } ?>
            <br>
        </div>
    </div>
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>

