<?php
/**
 *  This file is part of SNEP.
 *
 *  SNEP is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Lesser General Public License as
 *  published by the Free Software Foundation, either version 3 of
 *  the License, or (at your option) any later version.
 *
 *  SNEP is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public License
 *  along with SNEP.  If not, see <http://www.gnu.org/licenses/lgpl.txt>.
 */

$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
$this->headScript()->appendFile($this->baseUrl() .  "/includes/javascript/snep.js");

?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Session")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                       <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>    &nbsp;|&nbsp;
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>
             <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert',
            'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>
                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>
                        <tr>
                            <th> <?php echo $this->translate('Name') ?> </th>
                            <th> <?php echo $this->translate('Path') ?> </th>
                            <th class="text-center"> <?php echo $this->translate('Type') ?> </th>
                            <th class="text-center"> <?php echo $this->translate('Files') ?> </th>
                            <th colspan="3" class="action text-center" data-sort-ignore="true"> <?php echo $this->translate('Actions') ?> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if($this->sections):
                            foreach($this->sections as $class ):
                                if ($class['name'] === 'default') {
                                    $disabled= "disabled";
                                } else {
                                        $disabled = "";
                                }?>

                                <tr>
                                    <td> <b> <?php echo $class['name'] ?> </b> </td>
                                    <td> <?php echo $class['directory'] ?> </td>
                                    <td class="text-center"> <?php echo $this->modes[$class['mode']] ?> </td>
                                    <td class="text-center"> <?php echo $class['count'] ?> </td>
                                    <td align="center">
                                        <a class="btn btn-default btn-sm"  href="<?php echo $this->url.'/file/section/'.$class['name'] ?>" role="button"> <?php echo $this->translate('Audios')?>
                                        </a>
                                        <a class="btn btn-edit btn-sm <?php echo $disabled ?>"  href="<?php echo $this->url.'/edit/section/'.$class['name'] ?>" role="button">
                                            <?php echo $this->translate('Edit')?>
                                        </a>
                                        <a class="btn btn-danger btn-sm <?php echo $disabled ?>"  href="<?php echo $this->url.'/remove/section/'.$class['name'] ?>" role="button" >
                                            <?php echo $this->translate('Delete')?>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        <?php endif ?>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="7">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            <?php } ?>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->


<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>




